/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #D6E5E3; 
}
/* STYLE carousel */
.carousel{
  position: relative;
}

.carousel__item {
  height: 400px;
  background: #2B6648;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  display: none;
}

.carousel__item--selected{
  display: block;
}

.carousel__nav{
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}


.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}
/* STYLE TEXT */

h1 {
  color:#2B6648;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  padding-left:150px;
  padding-bottom:50px;
  font-size: 50px;
}

h2{
  color:#2B6648;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  padding-left:50px;
  padding-top:100px;
  font-size: 30px;
}


#colo
{
  text-align: right;
  font-size: 150px;
  padding:150px;
  text-shadow: 0 0 5px white;
  background-image: url("");
  background-repeat: no-repeat, repeat;
  /*background-size: 105%;*/
}

.mainText
{
  /*display:inline-block;???*/
  color:#2B6648;
  width: 50%;
  height: 50%;
  font-family: 'Fjalla One', sans-serif;
  float: right;
  padding-top:120px;
  padding-right:100px;
  font-size: 25px;
}
.video
{
  padding-left: 70px;
  padding-top: 100px;
}
/* STYLE IMAGES */
.row {
  display: flex;
  flex-direction: row;  
  flex-wrap: nowrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.column{
  flex-basis: 100%;
  text-align: left;
  /*padding-left: 50px;*/
  margin-left: 2%;
  margin-right:2%;
  color:#2B6648;
  width: 50%;
  height: 50%;
  font-family: 'Fjalla One', sans-serif;
  float: right;
  padding-right:50px;
  font-size: 15px;
  text-indent: 2em;
}

.titleForAll
{

  flex-grow: 1;
  flex-basis: 100%;
  padding-left:20px;
  padding-bottom:20px;
  text-align:center;
/*   padding-left: 50px; */
  /*margin-left: 2%;
  margin-right:2%;*/
  margin:auto;
  color:#2B6648;
  width: 90%;
  height:70%;
  font-family: 'Fjalla One', sans-serif;
  padding-right:50px;
  font-size: 15px;
  font-weight: bold;
  text-indent: 0em;
}


/* STYLE NAV BAR */
#navi{
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif;
  background-color:#517664;
  overflow: hidden;
  padding: 1em;
}

.nav2
{
  float: right;
  display: inline;
}
.nav2 a{
  text-decoration: none;
  color: #000;
  font-size: 1.3em;
  padding: 1em;
}
.nav2 a:hover {
  background-color:#CACFD6;
}
/* STYLE BUTTONS */
.genFact
{
  background: #2B6648;
  border-radius: 10px;
  border-style: none;

  padding: 15px;

  margin-top: 30px;
  margin-left: 35%;
  margin-right: 35%;

  font-family:  'Fjalla One', sans-serif;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.2em;
  color: #CACFD6;
}

#fact
{
  border-style: none;

  padding: 15px;
  
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;

  font-family:  'Fjalla One', sans-serif;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  line-height: 1.2em;
  color: #2B6648;
}

#myButton
{
  font-family:  'Fjalla One', sans-serif;
  font-size: .9em;
  color: #2B6648;
  background: #CACFD6;
}

#par
{
  font-family:  'Fjalla One', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #2B6648;
}

#h22
{
  text-align: center;
}
/* ADD MORE! FOR ABOUT PAGE*/
#about
{
  text-align: Left;
  font-size: 80px;
  padding:50px;
  text-shadow: 0 0 5px white;
  text-decoration: overline;
  /*
  background-image: url("https://media.istockphoto.com/vectors/woman-seamless-pattern-brown-color-vector-id1320831793?k=20&m=1320831793&s=170667a&w=0&h=S0Cu-Lnag9T7J6ayLMsRsGxJUI4lpUHR_UzjR-jhJOM=");
  /*background-repeat: no-repeat, repeat;*/
}

#help
{
  text-align: Left;
  font-size: 80px;
  padding:50px;
  padding-bottom:10px;
  text-shadow: 0 0 5px white;
  text-decoration: overline;
}

/*#box
{
  background-color: #2B6648;
  border-radius: 150px;
  
}*/

#aboutPic
{
  padding-left: 350px;
  padding-right: 350px;
}

p.test2 {
  writing-mode: vertical-rl; 
}